.center {
    text-align: center;
    border: 3px solid green;
    margin: 7px;
  }
  #middle {
    height: 200px;
    width: 26%;
    border: 3px solid green;
    overflow: hidden;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
  }
  #middle1 {
    height: 200px;
    width: 39%;
    border: 3px solid green;
    overflow: hidden;
    float: left;
    margin-right: 2%;
    text-align: center;
  }
  #middle2 {
    height: 200px;
    width: 26%;
    border: 3px solid green;
    overflow: hidden;
    float: right;
    margin-right: 1%;
    text-align: center;
  }

  #footer {
    text-align: center;
    margin:4px;
    border: 3px solid green;
    clear: both;
  }